<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">

    <body>
        <h1>{{>header}}</h1>
        <p>This site was created by Mangal.It uses mapbox.com</p>
        <img src="/img/robot.png">
        <p>created {{Author}}</p>
        <h2>{{>footer}}</h2>
    </body>
</head>

</html>